In [14]:
# initial imports
import pandas as pd
from pathlib import Path

# initial imports
csvpath = Path("Resources/amd_stock_data.csv")

stock_dataframe = pd.read_csv(csvpath)

# get the first 10 rows from the dataframe
stock_dataframe.head(10)

# set colum names
col_names = ["date", "close", "volume", "open", "high", "low"]

# recreate the dataframe
stock_dataframe = pd.read_csv

# add columns names

# get the first 10 rows from the dataframe

# get the bottom 10 rows from the dataframe

In [26]:
#Spring Cleaning!
#Harold's stock data is a mess! Help him clean up his data before the auditors arrive!

In [20]:
#Load CSV data into Pandas using read_csv
csvpath = Path("Resources/amd_stock_data.csv")
stock_dataframe = pd.read_csv(csvpath)

In [21]:
#Identify the number of rows and columns (shape) in the DataFrame.
stock_dataframe.shape

(2516, 6)

In [27]:
#Generate a sample of the data to visually ensure data has been loaded in correctly.
stock_dataframe.head(5)

   4/29/09  3.51  11537950   3.4  3.56  3.38
0  4/30/09  3.61  18193730  3.55  3.73  3.53
1   5/1/09  3.82  16233940  3.55  3.90  3.55
2   5/4/09  4.26  21236940  3.90  4.30  3.83
3   5/5/09  4.32  16369170  4.36  4.39  4.11
4   5/6/09  4.31  15075630  4.45  4.45  4.12

In [28]:
#Identify the number of records in the DataFrame, and compare it with the number of rows in the original file.
stock_dataframe.count()

4/29/09     2516
3.51        2516
11537950    2516
3.4         2516
3.56        2516
3.38        2516
dtype: int64

In [24]:
#Drop Null Records
stock_dataframe.isnull

<bound method DataFrame.isnull of       4/29/09   3.51  11537950    3.4   3.56   3.38
0     4/30/09   3.61  18193730   3.55   3.73   3.53
1      5/1/09   3.82  16233940   3.55   3.90   3.55
2      5/4/09   4.26  21236940   3.90   4.30   3.83
3      5/5/09   4.32  16369170   4.36   4.39   4.11
4      5/6/09   4.31  15075630   4.45   4.45   4.12
...       ...    ...       ...    ...    ...    ...
2511  4/23/19  27.97  41583740  28.18  28.49  27.79
2512  4/24/19  28.46  51487330  28.10  28.85  27.93
2513  4/25/19  27.66  56709000  28.67  28.86  27.36
2514  4/26/19  27.88  48736860  27.66  27.90  27.05
2515  4/29/19  27.69  44265600  27.90  28.14  27.50

[2516 rows x 6 columns]>

In [25]:
#Validate nulls have been dropped


#Default null ebitda values to 0. Then, validate no records are null for ebitda.