In [7]:
import pandas as pd
from pathlib import Path

In [13]:
# Read csv data
csv_path = Path("../../Resources/goog_google_finance.csv")
goog_df = pd.read_csv(
    csv_path, parse_dates=True, index_col="Date", infer_datetime_format=True)
goog_df.head()

              Close
Date
2019-05-13  1132.03
2019-05-10  1164.27
2019-05-09  1162.38
2019-05-08  1166.27
2019-05-07  1174.10

In [15]:
# Check for nulls
goog_df.isnull().mean() * 100

# Drop nulls
goog_df = goog_df.dropna()

# Drop duplicates
goog_df = goog_df.drop_duplicates()

# Validate no more missing values
goog_df.isnull().sum()

Close    0
dtype: int64

In [18]:
#Group by year and month
goog_df_group = goog_df.groupby([goog_df.index.year, goog_df.index.month]).first()
goog_df_group.head()

             Close
Date Date
2019 2     1119.92
     3     1173.31
     4     1188.48
     5     1132.03

In [19]:
#Access Close for May 2019 Using Multi-Indexing Lookup
goog_may_close = goog_df_group.loc[2019, 5]
goog_may_close

Close    1132.03
Name: (2019, 5), dtype: float64

In [25]:
#Calculate mean close price of GOOG for 2019
goog_close_price_average = goog_df_group.mean()
round(goog_close_price_average,2)

Close    1153.44
dtype: float64